*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    box-sizing: border-box;
}


#startScreen, #questions,
 #endScreen{

    justify-content: center;
    text-align: center;
    padding: 20px;
    margin:auto;
    border-radius: 5px;
    width: 70%; 
    
};

.hide{
    display: none;
}

#highScore{
    float: left;
    padding: 5px;
}

#timer{
    float: right;  
    padding: 5px; 
}



