*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    box-sizing: border-box;
}

.hide{
    display: none ; 
}

#startScreen, #questions,
 #endScreen, #userscoreList, #random{

    justify-content: center;
    text-align: center;
    padding: 20px;
    margin:auto;
    border-radius: 5px;
    width: 70%;   
};

#choices{
    padding:10px;
    
}

#highScore{
    float: left;
    padding: 5px;
}

#timer{
    float: right;  
    padding: 5px; 
}



